
<div class="row">
  <div class="col-xs-12">
    <img src="{{ recipeObject.imageUrl }}" alt="" class="img-responsive" style="max-height: 200px; max-height: 150px">
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <h1>{{ recipeObject.name }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group" appDropdown>
      <button type="button" class="btn btn-primary dropdown-toggle">Manage Recipe <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><a (click)="addToShoppingList()">To shopping list</a></li>
        <li><a href="#">Edit the Recipe</a></li>
        <li><a href="#">Delete the Recipe</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    {{ recipeObject.description }}
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <ul class="list-group" l>
      <li class="list-group-item" *ngFor="let i of recipeObject.ingredients">
        {{i.name}} - {{i.amount}}
      </li>
    </ul>
  </div>
</div>
