<!--working app-->

<app-header (routeToThisPage)="routing($event)"></app-header>
<div class="container">
  <div class="row">
    <p>lets start the project</p>
  </div>
    <br>
    <app-recipes *ngIf="defaultPage==='recipe'"></app-recipes>
    <app-shopping-list *ngIf="defaultPage==='shopping-list'"></app-shopping-list>
</div>

<!--Data binding related test-->

<!--<div class="container">-->
<!--  <app-cockpit-->
<!--    (onServerCreated)="serverCreated($event)"-->
<!--    (onBlueprintCreated)="blueprintCreated($event)"-->
<!--  ></app-cockpit>-->
<!--  <hr>-->
<!--  <div class="row">-->
<!--    <div class="col-xs-12">-->
<!--      <app-server-element *ngFor="let server of serverElements" [element]="server">-->
<!--        <p #contentParagraph>-->
<!--          <strong *ngIf="server.type === 'server'" style="color: red">{{ server.content }}</strong>-->
<!--          <em *ngIf="server.type === 'blueprint'">{{ server.content }}</em>-->
<!--        </p>-->
<!--      </app-server-element>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<!--services test-->
<!--<div>-->
<!--  <app-new-account></app-new-account>-->
<!--  <app-account *ngFor="let a of accountArray;let i= index" [account]="a" [accountId]="i"></app-account>-->
<!--</div>-->



